MONGO_URI=mongodb+srv://bhavadhabs:f7RpdL2lGSb6jT2t@cluster0.rbnfu5e.mongodb.net/giftlink?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=ab325828d8ac1f3cc1c1ae7d90236ca90f363d9eeb87c2caf3d0d0c750878b65